@use '../utils/variables' as var;
@use '../utils/functions' as f;
@use '../utils/mixins' as m;



body {
    background-color: var.$bg-color;
    font-size: 14px;
    width: 100vw ;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;       
}